# Python virtual environments
sports_env/
venv/
.venv/
new_sports_env/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# macOS system files
.DS_Store

# Environment variables
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
